<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const data = axios({
        url: '/first/req/get/',
        method: 'get',
        params: {
            'a': 10, 'b': 20,
            'c': 30
        }
    });
    data.then(function (result) {
        console.log(result.data);
    });
</script> -->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<script>
    const csrftoken = getCookie('csrftoken');
    
    const data2 = {'a':10, 'b':20, 'c':30};
    const data = axios({
        url: '/first/req/json/',
        method: 'post',
        data: JSON.stringify(data2),
        headers: {
            //'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json'
        }
    });
    data.then(function (result) {
        console.log(result.data);
    });
</script>